<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tushar Khatri is an open-source enthusiast and full-stack developer, he is also an instructor and loves to teach. He works with python and loves contributing to open-source.">
    <meta name="keywords" content="full-stack, freelancer, html5, css3, javascript, node.js, express.js, ejs, mongoDB, portfolio">
    <meta name="author" content="Tushar Khatri">
    <meta name="google-site-verification" content="JX5ZbU1nxYBYMJ28kEfCR0hA9qqWVYSVL2_GB-rKaWA" />

    <title>Tushar Khatri | Pythoneer | Full-stack Developer | Founder of DevelopersOnline</title>
    <link rel="icon" href="/images/favicon.ico">

  
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/unicons.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="/css/tooplate-style.css">
    <link rel="stylesheet" href="/css/blog-card.css">
    <link rel="stylesheet" href="/css/master.css">
    
<!--

-->
<!-- Script for google ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6959833510936728"
     crossorigin="anonymous"></script>
  </head>
  <body>

    <%- include('partials/menu'); %>

    <!-- ABOUT -->
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                    <div class="about-text">
                        <small class="small-text">This web app is written in <span class="mobile-block">Node.js!</span></small>
                        <h1 class="animated animated-text">
                            <span class="mr-2">Hey folks, I'm</span>
                                <div class="animated-info">
                                    <span class="animated-item">Tushar Khatri</span>
                                    <span class="animated-item">Full-stack Dev.</span>
                                    <span class="animated-item">Flutter Dev.</span>
                                </div>
                        </h1>

                        <p class="lead my-3">Building a successful product is a challenge. I am highly energetic in user experience design, interfaces and Back-end development.</p>
                        
                        <div class="custom-btn-group mt-4">
                          <a href="/resume" class="btn mr-lg-2 custom-btn"><i class='uil uil-file-alt'></i> Download Resume</a>
                          <a href="https://www.udemy.com/user/tushar-khatri-16/" class="btn custom-btn custom-btn-bg custom-btn-link">Coding Courses</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12">
                    <div class="about-image svg">
                        <img src="images/undraw/undraw_software_engineer_lvl5.svg" class="img-fluid" alt="svg image">
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- Hashnode blog section -->
    <div class="container">
    <% blogList.forEach( (post) =>{ %>

                    <div class="card">
                      <div class="card__header">  
                        <a href="https://blog.tusharkhatri.in/<%=post.slug%>"><img src="<%=post.coverImage%>" alt="<%=post.title%>" class="card__image" width="600"></a>
                      </div>
                      <div class="card__body">
                        <!-- <span class="tag" style="background-color: #FFC007;">Follow on GitHub</span> -->
                        <h4 class="text-dark"><%=post.title%></h4>
                        <p><%=post.brief%><span style="color: #FFC007;"><br><a href="https://blog.tusharkhatri.in/<%=post.slug%>">Read more...</a></span></p>
                      </div>
                      <div class="card__footer">
                        <div class="user">
                          <img src="images/logo.png" alt="Tushar Khatri" class="user__image">
                          <div class="user__info">
                            <h5 class="text-dark">Tushar Khatri</h5>
                            <small><%-new Date(post.dateAdded).getDate();%> -</small>
                            <small><%-new Date(post.dateAdded).getMonth();%> -</small>
                            <small><%-new Date(post.dateAdded).getFullYear();%></small>
                          </div>
                        </div>
                      </div>
                    </div>
     <% }); %>  
    </div>


    <!-- footer -->
  <%-include('partials/footer')%>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Headroom.js"></script>
    <script src="js/jQuery.headroom.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>

  </body>
</html>